.president-short {
    display: flex;
    align-items: center;
}

.president-short .img-wrap {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.president {
    width: 640px;
    max-width: calc(100% - 3rem);
    margin: 3rem auto 0;
}

.president-meta {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ebebeb;
    opacity: 0;
    background: white;
    align-items: center;
    padding: 8px 16px;
}

.president-meta .img-wrap {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 8px;
}

.president .img-wrap {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
}

.president p {
    animation-delay: 400ms;
    text-align: justify;
}

.president p::first-line {
    font-variant: small-caps;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}